.login {
    max-width: 26rem;
    margin: 2rem auto;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: -4px 20px 36px 14px rgba(0,0,0,0.1);
}

.login-img{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}

.form-group-password{
    position: relative;
}

.show-password{
    position: absolute;
    top: 50%;
    right: 10px;
    /*transform: translateY(30%);*/
    cursor: pointer;
    z-index: 10;
    background: none;
    border: none;
}